*{
  box-sizing: border-box;
 
}

body{
margin: 0;
}
/*  Large devices (desktops, 992px and up) */
/*Header*/
.background-over{
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
background-color: #000;
opacity: 0.7;
}

header{
width: 100%;
height: 100vh;
background-image: url("../images/HeaderBackground1920x1280.jpg");
font-family: 'Ubuntu', sans-serif;
}

.content-header, .introduction{
position: relative;

}

/*content-header part*/
.content-header{
padding-top: 20px;
}

.content-header h1{
margin:0;
color:#F33E57;
}

#logo{
float:left;
padding-left: 5%;
}

header ul{
float:right;
padding-right: 5%;
}

header ul li {
float:left;
height: 50px;
list-style: none;
padding-right:50px;
}

header ul li a {
text-decoration: none;
color:white;
}

/*introduction part*/


.introduction{
margin-top: 10%;
padding: 10% 25% ;
color:white;
}

.introduction h1{
font-size: 45px;
line-height: 40px;
}

.introduction h5{
font-size: 18px;
font-weight: 400;
line-height: 26px;
}




/*parts of services*/
main > h1 {
text-align: center;
color:#4A4C4B;
font-size: 60px;
}

main{
margin: 0 auto;
padding: 10px;

}

main .part-services{
float: left;
width: 25%;
text-align: center;
padding: 10px;

}


main h3{
font-size: 25px;
}

.part-services p{
font-size: 14px;
line-height: 22px;
padding: 0;
text-align:justify;
}
@media(max-width:768px){
 .content-header{
  justify-items:space-around;
 }
  .content-header ul{
    display: flex;
    flex-direction: column;
    float: none;
    width: 100%;
    height: 100px;
    justify-items:center;
    align-items:center;
    margin-top:  70px; 
   
 }
 .content-header a{
 font-size: 20px;

 }
 
.introduction{
  width: 100%;
  height: 100px;
  padding: 50px;
  align-items:stretch;
  text-align: left;
}
.introduction h1{

  padding-top: 30px;
  font-size: 25px;
}
.introduction h5{
  font-size: 20px;
}
.services-name h1{ 
 font-size: 30px;
  
}
main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

}
.services-content{
width: 50vh


}
.part-services p{
  display: flex;
  justify-content: center;
  font-size: 20px;
 
}
.icon img {
  display: flex ;
  align-items: center;
  justify-content: center;
  

  
}
.part-services{
  
  width: 100%;
  float:center;
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}



